@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #e50914;
  --color-dark: #0E0E10;
}

/* Custom Utilities */
@utility no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Base resets if needed, though Tailwind handles most */
body {
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-sans);
  overflow-x: hidden;
}